.DS_STORE
.vagrant
*.sublime-project
*.sublime-workspace
*.tmproj
*.bak
*.swp
*~.nib
public/app/design/install/
public/app/etc/local.xml
public/app/etc/local.xml.additional
public/app/etc/local.xml.template
public/cron.php
public/cron.sh
public/downloader/
public/errors/
public/includes/
public/index.php
public/index.php.sample
public/install.php
public/LICENSE*
public/lib/Zend/
public/media/
public/var/
public/.htaccess
public/.htaccess.dist
public/.htaccess.sample
public/api.php
public/favicon.ico
public/get.php
public/js/
public/lib/
public/mage
public/shell/
public/pear/
public/php.ini.sample
public/pkginfo/
public/RELEASE_NOTES.txt
public/app/.htaccess
public/app/Mage.php
public/app/code/community
public/app/code/core
public/app/design/adminhtml/
public/app/design/frontend/base/
public/app/design/frontend/default/
public/app/design/frontend/rwd/
public/app/etc/
public/app/locale/
public/skin/adminhtml/
public/skin/frontend/base/
public/skin/frontend/default/
public/skin/frontend/rwd/
public/skin/install/